<p id="notice"><%= notice %></p>

<p>
  <strong>Food:</strong>
  <%= @notification.food.name %>
</p>

<p>
  <strong>Days:</strong>
  <%= @notification.days %>
</p>

<%= link_to 'Edit', edit_custom_notification_path(@custom_notification) %> |
<%= link_to 'Back', custom_notifications_path %>
