<p id="notice"><%= notice %></p>

<p>
  <strong>Date of purchase:</strong>
  <%= @purchase.date_of_purchase %>
</p>

<p>
  <strong>User:</strong>
  <%= @purchase.user_id %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @purchase.expiration_date %>
</p>

<p>
  <strong>Reminder date:</strong>
  <%= @purchase.reminder_date %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
