<%= form_for(@food) do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :food_category_params %><br>
    <%= f.select_tag(:food_category_params, options_for_select([["Fruit", @get_foodcategory.find_by_name('Fruit')], ["Vegetable", @get_foodcategory.find_by_name('Vegetable')]])) %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :days_to_expiration %><br>
     <%= select_tag(:days_to_expiration, options_for_select(1...15)) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
