<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @food.image %>
</p>

<p>
  <strong>Days to expiration:</strong>
  <%= @food.days_to_expiration %>
</p>


<%= render '/custom_notifications/form' %>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
